.badge {
  display: inline-block;
  padding: 1px 2px;
  border: solid 1px #ccc;
  background-color: #d3e5f8;
  box-shadow: 2px 2px 10px #ccc;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  white-space: pre;
}

.badgeSelector {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50px;
  border: solid 1px #ccc;
  background-color: #d3e5f8;
  box-shadow: 2px 2px 10px #ccc;
  border-radius: 4px;
  top: 94%;
  left: 0;
}

.label {
  white-space: pre-line;
  padding: 0 2px;
  cursor: pointer;
}

.label:hover {
  background-color: rgba(123, 248, 98, 0.295);
}
